<div class="flex flex-row justify-between mt-9">
    <a routerLink="/home">
        <img src="assets/images/image.png" alt=""> dfgdf</a>
    <div class="flex flex-row gap-4">
        <a><button mat-button>New & Featured</button></a>
        <a><button mat-button>Men</button></a>
        <a><button mat-button>Women</button></a>
        <a><button mat-button>Kids</button></a>
        <a><button mat-button>Sale</button></a>
        <a><button mat-button routerLink="/login">Login</button></a>
    </div>
    <div class="">
        <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput>
        </mat-form-field>
        <button mat-icon-button><mat-icon>favorite</mat-icon></button>
    </div>
</div> 